nav ul {
  list-style-type: none;
display: flex;
flex-direction: column;
padding:0;
}
nav li{
  background-color: #05054D;
  padding: .5rem 1rem;
  color: #7777A6;
}
nav li a{
  text-decoration: none;
  display: block;
  background-color:#343477;
  padding: .5rem 1rem;
  color: #DFDFDF;
}
nav li :hover {
  color:#DFDFDF;
  background-color:#0B0B48;
}
@media only screen and (min-width:911){
  nav ul{
  flex-direction:row;
}
}
